
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');


*{
    font-family: Poppins;
    margin: 0;
    padding: 0; 
}

.menú{
        align-items: center;align-items: center;color: #c2c2c2;display:flexbox; font-size: small;
        text-decoration: none;justify-content: space-between; text-align: center;
}

.menú:hover{
    color: black;
}
.menú2{
    align-items: center; align-items: center; color:black; display:flexbox;font-size: small;
    text-decoration: none;justify-content: space-between;text-align: center;
}
.publi{
    font-size: xx-small;text-align: center;
}
.contenedor0{
    text-align: center; justify-content: center;
}
.contenedor1{
    display: flex;margin: 0; padding: 0; align-items: center; justify-content: center; margin: 0%;
    padding: 0%; gap: 5px;
}

.contenedor2{
    gap: 10px; text-align: center; justify-content: center; 
}


.anuncio1{
text-align: center;
width: auto;

}
.img{
    margin: 0 auto; width:200%;height: 100%;
}

.izquierda,
.img-left{
  left: 0; height:auto; width: 200px;}
 
.derecha,
.img-right{
  left: 0; height:auto; width: 200px;}
        
.contenedor3{
    display: flex; gap: 10px; justify-content: space-around; position: relative;
    
}

.colum1{
    align-items: left;
}

.camioneta{
    width: 190px;
    height: 600px;
    margin-left: 0;
}
.colorA, .colorB{
    color: red;
}
.contenedor4{
    align-items: center; display: flex; flex-direction: row;
    gap: 10px;
    width: 1;
    padding:  auto;  
    justify-content: space-around;
    position: relative;
   

}

.Mustafa, .repsol, .Bruselas{
    color: #0077B5      ;
}



.publi2{
    right:0; height:auto; width: 200px;
}

.contenedor5{
    font-size: small;
    display: flex;
    text-align: center;
    justify-content: space-around;
    text-decoration: none;
    
    
}


.sub-container1, .sub-container2,.sub-container3,.sub-container4{
    display: flex;
    justify-content: space-between;
}

ul {
    text-decoration: none;
    
  }
  
li {

    list-style: none; 
    margin: 5px 0;
    text-decoration: none;
  }

.title1,.title2,.title3,.title4{ color: black;text-decoration: none;}

.sub-container1{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.sub-container2{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.sub-container3{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.sub-container4{
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    padding: 20px;

}
.menú6,.menú5,.menú4,.menú3
{
    line-height: 1;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-around; 
 
  }
  i {
    margin-bottom: 20px;
        font-size: 25px;
        margin: 5px; 
        text-decoration: none; color: #0077B5; /* Cambia el color de los iconos si es necesario */
      }

      .repsol{
        display: flex;
        justify-content: space-around;
      }

      
.redes1{
   display: flex; justify-content: space-around; 
   
}
.redes2{
    display: flex;
    justify-content: space-around;
    margin: 0;
    
}
h1{
    justify-content: center;
    align-items: center;
}
  .direccion{
    font-size: small;
  }
.contenedor6{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.cookies1,.cookies2,.privacidad,.Contenidos,.Terminos,.Market,.Certificado,.Contacto{
    text-decoration: none;
}

.contenedor7{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.sub-container-a{
display: block;
}

.hola, .directo, .clave, .tribuna{
    color: red; font-weight: 600px;}

.pedrito{
    width: 200;
    height: 100;
}

.imagen-mustafa{
    width: 330px;
    height: 320px;
}

.tiojoe{
    width: 500px;
    height: 450px;
}


.contenedor8{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    gap: 8px;   
}

.sub-container-b{
    display: flex;
}

.deporte{

    width: 300px;
    height: auto;
}