*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0; 
}

.menú{
        align-items: center;align-items: center;color: #c2c2c2;display:flexbox; font-size: small;
        text-decoration: none;justify-content: space-between; text-align: center;
}

.menú:hover{
    color: black;
}
.menú2{
    align-items: center; align-items: center; color:black; display:flexbox;font-size: small;
    text-decoration: none;justify-content: space-between;text-align: center;
}
.publi{
    font-size: xx-small;text-align: center;
}
.contenedor0{
    text-align: center; justify-content: center;
}
.contenedor1{
    display: flex;margin: 0; padding: 0; align-items: center; justify-content: center; margin: 0%;
    padding: 0%;
}

.contenedor2{
    text-align: center; justify-content: center; 
}


.anuncio1{
text-align: center;
}
.img{
    margin: 0 auto;
    width:200%;
    height: 100%;
}

.izquierda,
.img-left{
  left: 0; height:auto; width: 200px;}

  
.derecha,
.img-right{
  left: 0; height:auto; width: 200px;}
    
    
.contenedor3{
    display: flex;
    gap: 15px;
    justify-content: space-around;
    position: relative;
    
}


.colum1{
    align-items: left;
}
.contenedor4{
    display: flex;
    flex-direction: row;
    gap: 1%;
    width: 1;
    padding:  auto;  
    justify-content: space-around;
    position: relative;
   

}


.publi2{
    right:0; height:auto; width: 200px;
}

.contenedor5{
    font-size: medium;
    display: flex;
    text-align: center;
    justify-content: space-around;
    text-decoration: none;
    
    margin: 1px ;
    padding: 1px;
    
    
}
ul {
    text-decoration: none;
    
  }
  
li {

    list-style: none; 
    margin: 5px 0;
    text-decoration: none;
  }

.title1,.title2,.title3,.title4{ color: black;text-decoration: none;}

.sub-container1{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.sub-container2{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.sub-container3{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.sub-container4{
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    padding: 20px;

}
.menú6,.menú5,.menú4,.menú3
{
    line-height: 1;
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
  }
  i {
    margin-bottom: 20px;
        font-size: 25px;
        margin: 5px; 
        text-decoration: none; color: #0077B5; /* Cambia el color de los iconos si es necesario */
      }
      
.redes{
    margin-left: auto;
}
  
  
.contenedor6{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;

}
.cookies1,.cookies2,.privacidad,.Contenidos,.Terminos,.Market,.Certificado,.Contacto{
    text-decoration: none;
}